<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="movieDao" class="h2demo.MovieDaoImp" />

    <bean id="movieDao2" class="h2demo.MovieDaoImp2">
        <property name="sqlSessionTemplate" ref="sqlSession" />
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:resources/mybatic_mapper/movie.xml" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="movieSql" class="h2demo.MovieSql">
        <property name="queryAllMovieSql">
            <value>
                select ID, Name, Type, Description from Movie
            </value>
        </property>
    </bean>

    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="url" value="jdbc:h2:tcp://localhost/~/database/h2/data/demo" />
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="username" value="sa" />
        <property name="password" value="" />
        <property name="initialSize" value="1" />
        <property name="maxActive" value="5" />
        <property name="minIdle" value="1" />
        <property name="maxIdle" value="2" />
    </bean>
</beans>